<div class="container">
	<div class="col-sm-8 col-sm-offset-3">
		<form action="/events/<%=shj.slug%>/editCommit" method = 'POST' class = 'form-group'>
			
			<label for="">Merchant Details</label>
			<table class="table table-inverted table-hover table-stripped form-group">
				<tbody>
					<div class="form-group">Merchant Name:<input class="form-group" type="text" name = 'merchantName' value = '<%=shj.merchantName%>'></div>

					<div class="form-group">mid:<input class="form-group" type="text" name = 'mid' placeholder = '<%=shj.mid%>'></div>

					<div class="form-group">Account Balance:<input class="form-group" type="text" name = 'date' value = '<%=shj.accountBalance%>'></div>
					<div class="form-group">T + n:<input type="text" name = 'date' value = '<%=shj.tn%>'></div>

					<div class="form-group">Creation Date:<input type="text" name = 'date' placeholder = '<%=shj.createDate%>'></div>
					 
					
				</tbody>
			</table>
		</form>
	</div>
</div>