<head>
			<meta charset="UTF-8">
    		<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
			<title>OT Payment Gateway Admin Console</title>
			<link rel = 'stylesheet' href = '/bower_components/bootst5rap/dist/css/bootstrap.css'></link>
			<link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
			<!---<link rel = 'stylesheet' href = 'bootstrap/dist/css/bootstrap-theme.css'></link> -->
			<!---<link rel = 'stylesheet' href = 'bootstrap/dist/css/bootstrap-theme.css.map'></link> -->
			<script src = '../../bower_components/jquery/dist/jquery.js'></script>
			<script src = 'bootstrap/dist/js/bootstrap.js'></script>
			<script src = 'datetimepicker/build/jquery.datetimepicker.full.js'></script>
			<script src = 'datetimepicker/jquery.datetimepicker.js'></script>
			<link rel = 'stylesheet' href = 'bootstrap/dist/css/bootstrap-footer.css'></link>
			<link rel = 'stylesheet' href = 'font-awesome/css/font-awesome.css'></link>
			<link rel = 'stylesheet' href = 'datetimepicker/jquery.datetimepicker.css'></link>
			<link rel = 'stylesheet' href = 'sidebar.css'></link>
			<link rel = 'stylesheet' href = 'charts/dist/docs/style.css'></link>
			<script src = 'charts/dist/Chart.js'></script>

			<!-- Navigation tab was not working due to reversed dependency order -->
</head>
		<div class="container-fluid col-md-12" style = 'margin-top: 188px;'>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-3">
			<form action="/events/<%-JSON.stringify(shj.slug)%>/editCommit" method = 'POST' class = 'form-group'>
				
				<label for="">Merchant Details</label>
					<table class="table table-inverted table-hover table-stripped form-group">
						<tbody>
							<tr>
								<td><div class="form-group">Merchant Name:</div></td>
								<td><input class="form-group" type="text" name = 'merchantName' value = '<%-shj.merchantName%>'></td>
							</tr>
							

							<tr>
								<td><div class="form-group">mid:</div></td>
								<td><input class="form-group" type="text" name = 'mid' placeholder = '<%=shj.mid%>'></td>
							</tr>
							


							<tr>
								<td><div class="form-group">Account Balance:</div></td>
								<td><input class="form-group" type="text" name = 'date' value = '<%=shj.accountBalance%>'></td>
							</tr>
							

							<tr>
								<td><div class="form-group">T + n:</div></td>
								<td><input type="text" name = 'date' value = '<%=shj.tn%>'></td>
							</tr>
							
							<tr>
								<td><div class="form-group">Creation Date:</div></td>
								<td><input type="text" name = 'date' placeholder = '<%=shj.createDate%>'></td>
							</tr>
							<tr>
								<td><div class="form-group">Currency 1</div></td>
								<td><input type="text" name = 'date' placeholder = '<%=shj.currency1%>'></td>
							</tr>
							<tr>
								<td><div class="form-group">Creation Date:</div></td>
								<td><input type="text" name = 'date' placeholder = '<%=shj.createDate%>'></td>
							</tr>
						</tbody>
					</table>
			</form>
		</div>
	</div>
</div>
<div style = 'clear: both;'></div>